services:
  - type: web
    name: nihon-dictionary-backend
    runtime: python

    buildCommand: "./build.sh"
    startCommand: "gunicorn backend.wsgi:application"

    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9

      - key: DATABASE_URL
        fromDatabase:
          name: dictionary_db
          property: connectionString

      - key: SECRET_KEY
        generateValue: true

      - key: WEB_CONCURRENCY
        value: 4

      - key: ALLOWED_HOSTS
        value: "*"

      - key: DEBUG
        value: "False"
